@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.NavBar {
  background-color: #f0f0f0 !important;
  color: black;
  font-size: 12px !important;
  height: 100px;
  text-transform: uppercase;   
   
}

.Typography__NavBar{
  font-family: 'Montserrat',sans-serif !important;
  font-weight: 580;
  font-size: 12px;
}

.search__NavBar {
  font-family:Arial, FontAwesome;
  background-color: #f0f0f0 !important;
  border-radius: 15px;
  border: 2px solid #5C6A79;
  padding: 5px 5px 5px 25px;
}
::placeholder {
  font-weight: bold;
  font-size:14px;
  width:170px

}

.Navbar__active{
  font-family: 'Montserrat',sans-serif !important;
  font-size: 14px;
  font-weight: bold;
}